@inherits LayoutComponentBase
<nav class="navbar navbar-dark bg-info mb-3">
    <span class="navbar-brand mb-0 h1">Mapping Demo</span>
</nav>
<main class="container">
    @Body
</main>
<footer>
</footer>